    th{
        font-style: italic;
        font-weight: bolder;
        color: purple;
    }

    body{
        background-color: rgb(0, 247, 255);
        text-align: center;
    }

    h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color:rgb(101, 10, 247);
        font-size: xx-large;
        text-align: center;
        border: 2px solid black;
        background-color: aliceblue
    }

    #manimani{
        font-family: cursive;
        font-size: xx-large;
        color: rgb(255, 0, 0)
    }

    .image{
        height: 200px;
        width: 350px;
    }

    .car{
        height: 200px;
        width: 210px; 
    }

    a:hover{
        color: rgba(255, 0, 0, 0.815);
        font-size: 20px;
    }

    img:hover{
        border-style: solid;
        border-color: rgb(0, 0, 0);
        border-width: 5px;
    }

    *{
        margin: 15px;
    }
    .minecraft1{
        width: 350px;
        height: 150;
        border: solid black 2px;
        padding: 50px;
        background-color: rgba(0, 0, 255, 0.562);
        position: static;
        font-family: sans-serif;
        font-size: 40px
    }
    .arre{
        position: fixed;
        margin-left: 350px;
    }